<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Expresso</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <!-- endbuild -->
  </head>
  <!-- ng-controller="AppController" -->
  <body ng-app="expressoApp" ng-controller="AppController" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">

    <div class="header">
      <!-- Navbar Code -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="images/expressologo.svg" height="32px" style="margin:-6px; width:40px;"></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul ng-if="isAuthorized(userRoles.user)"class="nav navbar-nav">
              <li><a href="#/menu">Menu<span class="sr-only"></span></a></li>
              <li><a href="#/customizations">Customizations</a></li>
              <li><a href="#/inventory">Inventory</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="!isAuthorized(userRoles.user)"><a ui-sref="signin">Login</a></li>
              <li ng-if="isAuthorized(userRoles.user)" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span ng-bind="currentUser.name"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/storeinfo">General Information</a></li>
                  <li><a href="#/storemedia">Store Media</a></li>
                  <li><a href="#/storepayment">Payment Settings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-controller="LoginCtrl" ng-click="logout()" href="#/signin">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- Navbar Code End -->
    </div>

    <div ng-controller="ModalCtrl">
      <script type="text/ng-template" id="loginmodal.html">
        <div class="modal-header">
          <h3 class="modal-title">Please Login</h3>
          <h5>Either you have not logged in or your session timed out! Please login to continue!</h5>
        </div>
        <div class="modal-body">
          <form name="loginModalForm" ng-controller="LoginCtrl" ng-submit="login(credentials)" method="post" class="form-signin">
            <label for="modalEmailAddress" class="sr-only">Email address</label>
            <input ng-model="credentials.username" type="text" id="modalEmailAddress" class="form-control" placeholder="Email address" required autofocus>
            <label for="modalPassword" class="sr-only">Password</label>
            <input ng-model="credentials.password" type="password" id="modalPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-primary" type="submit">Sign in</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button> 
          </form> 
        </div>
      </script>
    </div>
    <div ui-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/query-string/query-string.js"></script>
    <script src="bower_components/angular-oauth2/dist/angular-oauth2.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/services/authresolver.js"></script>
        <script src="scripts/controllers/modal.js"></script>
        <script src="scripts/controllers/modalinstance.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/customizations.js"></script>
        <script src="scripts/controllers/inventory.js"></script>
        <!-- endbuild -->
</body>
</html>
