<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Welcome text for Store -->
          <h3 class="page-header">Store Inventory</h3>
        <div class="panel panel-primary">
          <div class="panel-heading">Menu Item Inventory</div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Item</th>
                  <th style="text-align:right;" width="140px;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></th>
                </tr>
              </thead>
              <tbody>
                <tr style="cursor:pointer;" onclick="">
                  <td>Americano<br><small style="opacity: 0.6;">Hot Drinks</small></td>
                    <td style="text-align:right;"><div class="input-group">
                      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
      </span>
                      <input type="text" class="form-control" placeholder="0" value="5" style="text-align:center;">
                      <span class="input-group-btn">        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      </span>
                    </div></td>
                </tr>
                  
                <tr style="cursor:pointer;" onclick="">
                  <td>Cappucino<br><small style="opacity: 0.6;">Hot Drinks</small></td>
                    <td style="text-align:right;"><div class="input-group has-error">
                      <span class="input-group-btn">
        <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
      </span>
                      <input type="text" class="form-control" placeholder="0" value="0" style="text-align:center;">
                      <span class="input-group-btn">        <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      </span>
                    </div></td>
                </tr>
                  
                <tr style="cursor:pointer;" onclick="">
                  <td>Coffee<br><small style="opacity: 0.6;">Hot Drinks</small></td>
                    <td style="text-align:right;"><div class="input-group has-warning">
                      <span class="input-group-btn">
        <button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
      </span>
                      <input type="text" class="form-control" placeholder="0" value="1" style="text-align:center;">
                      <span class="input-group-btn">        <button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      </span>
                    </div></td>
                </tr>
                  
                <tr style="cursor:pointer;" onclick="">
                  <td>Espresso<br><small style="opacity: 0.6;">Hot Drinks</small></td>
                    <td style="text-align:right;"><div class="input-group">
                      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
      </span>
                      <input type="text" class="form-control" placeholder="0" value="5" style="text-align:center;">
                      <span class="input-group-btn">        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      </span>
                    </div></td>
                </tr>
                  
                <tr style="cursor:pointer;" onclick="">
                  <td>Hot Chocolate<br><small style="opacity: 0.6;">Hot Drinks</small></td>
                    <td style="text-align:right;"><div class="input-group">
                      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
      </span>
                      <input type="text" class="form-control" placeholder="0" value="5" style="text-align:center;">
                      <span class="input-group-btn">        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      </span>
                    </div></td>
                </tr>
                  
                <tr style="cursor:pointer;" onclick="">
                  <td>Hot Tea<br><small style="opacity: 0.6;">Hot Drinks</small></td>
                    <td style="text-align:right;"><div class="input-group">
                      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
      </span>
                      <input type="text" class="form-control" placeholder="0" value="5" style="text-align:center;">
                      <span class="input-group-btn">        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      </span>
                    </div></td>
                </tr>
                  
                <tr style="cursor:pointer;" onclick="">
                  <td>Latte<br><small style="opacity: 0.6;">Hot Drinks</small></td>
                    <td style="text-align:right;"><div class="input-group">
                      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
      </span>
                      <input type="text" class="form-control" placeholder="0" value="5" style="text-align:center;">
                      <span class="input-group-btn">        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      </span>
                    </div></td>
                </tr>
                  
                <tr style="cursor:pointer;" onclick="">
                  <td>Mocha<br><small style="opacity: 0.6;">Hot Drinks</small></td>
                    <td style="text-align:right;"><div class="input-group">
                      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
      </span>
                      <input type="text" class="form-control" placeholder="0" value="5" style="text-align:center;">
                      <span class="input-group-btn">        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
      </span>
                    </div></td>
                </tr>
                  
              </tbody>
            </table>
          </div>
          </div>
        </div>
        <div class="col-sm-12" style="text-align:center;">
            <button type="button" class="btn btn-primary"><strong style="font-style:normal;">Submit Inventory Changes</strong></button>
          </div>
        </div>
      </div>
    
        <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Menu Item</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete "Espresso Shots" from your customization items?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->