<div class="container">

  <form name="loginForm" ng-controller="LoginCtrl" ng-submit="login(credentials)" method="post" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="emailAddress" class="sr-only">Email address</label>
    <input ng-model="credentials.username" type="text" id="emailAddress" class="form-control" placeholder="Email address" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input ng-model="credentials.password" type="password" id="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>