<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Welcome text for Store -->
          <h2 class="page-header"><img width="80px" src="images/slodocologo.jpg" class="img-circle"> &nbsp; Slo Do Co <small> Store Information</small></h2>
            <ul class="nav nav-pills">
              <li role="presentation"><a href="#/storeinfo">General Information</a></li>
              <li role="presentation"><a href="#/storemedia">Store Media</a></li>
              <li role="presentation" class="active"><a href="#/storepayment">Payment Settings</a></li>
            </ul>
            <p>&nbsp;</p>
        </div>
        
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Store Name</label>
                <div>
                  <p class="form-control-static">Slo Do Co</p>
                </div>
              </div>
          </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Store Number</label>
                <input type="text" class="form-control" placeholder="Business Number">
              </div>
        </div>
          
        </div>
        <div class="row">
        <div class="col-xs-9 col-sm-4">
            <div class="form-group">
                <label>Owner Information</label>
                <input type="text" class=" form-control" placeholder="First Name">
              </div>
        </div>
        <div class="col-xs-3 col-sm-2">
            <div class="form-group">
                <label style="visibility:hidden;">MI</label>
                <input type="text" class=" form-control" placeholder="M. I.">
              </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label style="visibility:hidden;">Last</label>
                <input type="text" class=" form-control" placeholder="Last Name">
              </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <input type="text" class=" form-control" placeholder="Phone Number">
              </div>
        </div>
        <div class="col-sm-12"><p>&nbsp;</p></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                  <label>Bank Information</label>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>J.P. Morgan Chase Bank of America</h4>
                        <h5 style="font-style:italic;">Checking</h5>
                        <p>XXXX - XXXX - XXXX - <strong>3365</strong></p>
                        
                    </div>
                    <div class="panel-footer">
                        <h6 style="text-align:right; opacity:0.6;"><strong>CONFIRMED</strong></h6>
                    </div>
                </div>
                
            </div>
        </div>
    </div>